{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <img src="{{asset(app)}}">
    Prénom : {{ user.firstname }}
    Nom : {{ user.lastname }}
    Téléphone : {{ user.phone }}
    Email : {{ user.email }}
    Campus : {{ user.campus.name }}
{% endblock %}
