{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    Prénom : {{ user.firstname }}
    Nom : {{ user.lastname }}
    Téléphone :
    Email : {{ user.email }}
    Campus : {{ user.campus }}
{% endblock %}
