{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('asset/js/script.js') }}" defer></script>
{% endblock %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}



{% block body %}

    <h1>Créer une sortie</h1>
    <p>Campus : {{ app.user.campus.name }}</p>

    {% for location in locations %}
        <div class="locationsData"
             data-location-city-name="{{ location.city.name }}"
             data-location-city-id="{{ location.city.id }}"
             data-location-city-postcode="{{ location.city.postcode }}"
             data-location-id="{{ location.id }}"
             data-location-name="{{ location.name }}"
             data-location-street="{{ location.street }}"
             data-location-latitude="{{ location.latitude }}"
             data-location-longitude="{{ location.longitude }}"
        >
        </div>
    {% endfor %}

    {{ form_start(outingForm) }}
    <div class="row w-75 d-flex justify-content-between">
        <div class="container col-6 mx-auto">
            {{ form_row(outingForm.name) }}
            {{ form_row(outingForm.startDate) }}
            {{ form_row(outingForm.deadline) }}
            {{ form_row(outingForm.maxRegistered) }}
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.description) }}
        </div>
        <div class="container col-6 mx-auto">
            {{ form_row(outingForm.campus, {value : app.user.campus.id}) }}
            {{ form_row(outingForm.city) }}
            <div id="location">
            </div>
            <div id="locationForm">
                {{ form_row(outingForm.location) }}
            </div>

        </div>
    </div>


    <input type="submit" value="Créer la sortie">
    {{ form_end(outingForm) }}

{% endblock %}

