{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des sorties</h1>

    {# affichage de toutes les sorties, peu importe le status #}

    <table class="table-sm table-bordered mb-3"> {# à quoi correspond la class #}
        <thead>
        <tr class="table-top">
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits / Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for outing in outings %}
            <tr class="table-rows">
                <td>{{ outing.name }}</td>
                <td>{{ outing.startDate | date('d/m/y') }}</td>
                <td>{{ outing.deadline | date('d/m/y') }}</td>
                <td> {{ outing.participants|length }}/ {{ outing.maxRegistered }}</td>
                <td>{{ outing.status.label }}</td>
                <td>inscrit ou non (x){#  {% if isRegistered %}X{% endif %}#}</td>
                <td>{{ outing.organizer.username }}</td>
                <td>
                    <a href="{{ path('outing_show', {'id':outing.id}) }}" title="Détail d'une sortie">Afficher</a>

                    {% set isRegistered = false %}
                    {% for participant in outing.participants %}
                        {% set isRegistered = isRegistered or (participant == app.user) %}
                    {% endfor %}

                    {% if outing.organizer != app.user and  not isRegistered %}
                        <a href="" title="inscription">S'inscrire</a>
                    {% endif %}

                    {% if isRegistered %}
                        <a href="" title="desistement">Se désister</a>
                    {% endif %}

                    {% if outing.organizer == app.user %}
                        <a href="" title="modification">Modifier</a>
                    {% endif %}

                    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
                        <a href="" title="publication">Publier</a>
                    {% endif %}

                </td>


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}