{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="asset/images/logo.png" alt="logo du site" class="enabled-smart" id="logo"/>
            </div>
            <div class="col block-dateUsername">
                <div>Date du jour: {{ currentDate | date('d/m/y') }}</div>

                <div>Participant: {{ app.user.username }}</div>
            </div>
        </div>
    </div>

    <div class="container formContainer">
        {{ form_start(searchForm) }}
        <div class="row align-items-center">
            <div class="col-6 mx-auto">
                <div class="container">
                    <div class="col">
                        {{ form_row(searchForm.campus) }}
                        {{ form_row(searchForm.name) }}
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(searchForm.startDate) }}
                        </div>
                        <div class="col">
                            {{ form_row(searchForm.endDate) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                {{ form_row(searchForm.outingOrganizer) }}
                {{ form_row(searchForm.outingEnlisted) }}
                {{ form_row(searchForm.outingNotEnlisted) }}
                {{ form_row(searchForm.outingFinished) }}
            </div>
            <div class="col-2 mx-auto">
                <button class="searchButton">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>
    <br>
    <div style ="text-align: center"><a class="btn btnCenter" href="{{ path('outing_create') }}">Organiser une sortie</a></div>
    <br>
    <h1>Liste des sorties</h1>
    <br>
    <table class="table-sm table-bordered mb-3">
        <thead>
        <tr class="table-top">
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th class="hidden-smart">Clôture</th>
            <th class="hidden-smart">Inscrits / Places</th>
            <th class="hidden-smart">Etat</th>
            <th class="hidden-smart">Inscrit</th>
            <th class="hidden-smart">Organisateur</th>
            <th class="hidden-smart">Actions</th>
            <th class="enabled-smart">Lieu</th>
        </tr>
        </thead>
        <tbody>

        {% for outing in outings %}
            {% set isRegistered = false %}
            {% for participant in outing.participants %}
                {% set isRegistered = isRegistered or (participant == app.user) %}
            {% endfor %}
            <tr class="table-rows">
                <td><a href="{{ path('outing_show', {'id':outing.id}) }}" title="Détail d'une sortie smartphone" class="link-smart">{{ outing.name }}</a></td>
                <td>{{ outing.startDate | date('d/m/y') }}</td>
                <td class="hidden-smart">{{ outing.deadline | date('d/m/y') }}</td>
                <td class="hidden-smart"> {{ outing.participants|length }}/ {{ outing.maxRegistered }}</td>
                <td class="hidden-smart">{{ outing.status.label }}</td>
                <td class="hidden-smart">{% if isRegistered %}X{% endif %}</td>
                <td class="hidden-smart"> <a href="{{ path('user_profile', {'id': outing.organizer.id}) }}">{{ outing.organizer.username }}</a></td>
                <td class="hidden-smart">
                    <a href="{{ path('outing_show', {'id':outing.id}) }}" title="Détail d'une sortie">Afficher</a>

                    {% if (app.user != isRegistered) and (outing.status.label =='Open') %}
                        <a href="{{ path('outing_inscription', {'id': outing.id}) }}" title="inscription">S'inscrire</a>
                    {% endif %}

                    {% if isRegistered and (outing.status.label =='Open' or outing.status.label == 'Closed') %}
                        <a href="{{ path('outing_withdrawal', {'id': outing.id}) }}" title="desistement">Se désister</a>
                    {% endif %}

                    {% if (outing.organizer == app.user or (is_granted("ROLE_ADMIN"))) and (outing.status.label =='Open' or outing.status.label == 'Closed')%}
                        <a href="{{ path('outing_cancellation', {'id':outing.id}) }}" title="annulation">Annuler la sortie</a>
                    {% endif %}

                    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
                        <a href="{{ path('outing_publication', {'id':outing.id}) }}" title="publication">Publier</a>
                        <a href="{{ path('outing_update', {'id': outing.id}) }}" title="modification">Modifier</a>
                        <a href="{{ path('delete_outing', {'id':outing.id}) }}" title="suppression">Supprimer</a>
                    {% endif %}
                </td>
                <td class="enabled-smart">{{ outing.location.city.name }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}