{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des sorties</h1>

    {# affichage de toutes les sorties, peu importe le status #}

    <table class="table-sm table-bordered mb-3"> {# à quoi correspond la class #}
        <thead>
        <tr class="table-top">
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits / Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th> {# afficher inclus ? Ou juste publier / modifier / annuler / se désister / s'inscrire ? #}
        </tr>
        </thead>
        <tbody>

        {% for outing in outings %}
        <tr class="table-rows">
            <td>{{ outing.name }}</td>
            <td>{{ outing.startDate | date('d/m/y')}}</td>
            <td>{{ outing.deadline | date('d/m/y')}}</td>
            <td> nbParticipants/ {{ outing.maxRegistered }}</td>
            <td></td>
            <td>inscrit ou non (x)</td>
            <td>{{ outing.organizer.username }}</td>
            <td>divers liens à afficher. Mettre les conditions plus tard.</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}