{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="border: green solid 4px">
        {{ form_start(searchForm) }}
        <div class="row align-items-center">
            <div class="col-5 mx-auto">
                <div class="container">
                    <div class="col">
                        {{ form_row(searchForm.campus) }}
                        {{ form_row(searchForm.name) }}
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(searchForm.startDate) }}
                        </div>
                        <div class="col">
                            {{ form_row(searchForm.endDate) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mx-auto">
                {{ form_row(searchForm.outingOrganizer) }}
                {{ form_row(searchForm.outingEnlisted) }}
                {{ form_row(searchForm.outingNotEnlisted) }}
                {{ form_row(searchForm.outingFinished) }}
            </div>
            <div class="col-3 mx-auto">
                <button>Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>

    <h1>Liste des sorties</h1>

    {# affichage de toutes les sorties, peu importe le status #}

    <table class="table-sm table-bordered mb-3">
        <thead>
        <tr class="table-top">
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits / Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for outing in outings %}
            {% set isRegistered = false %}
            {% for participant in outing.participants %}
                {% set isRegistered = isRegistered or (participant == app.user) %}
            {% endfor %}
            <tr class="table-rows">
                <td>{{ outing.name }}</td>
                <td>{{ outing.startDate | date('d/m/y') }}</td>
                <td>{{ outing.deadline | date('d/m/y') }}</td>
                <td> {{ outing.participants|length }}/ {{ outing.maxRegistered }}</td>
                <td>{{ outing.status.label }}</td>
                <td>{% if isRegistered %}X{% endif %}</td>
                <td>{{ outing.organizer.username }}</td>
                <td>
                    <a href="{{ path('outing_show', {'id':outing.id}) }}" title="Détail d'une sortie">Afficher</a>

                    {% if (app.user != isRegistered) and (outing.status.label =='Open') %}
                        <a href="{{ path('outing_inscription', {'id': outing.id}) }}" title="inscription">S'inscrire</a>
                    {% endif %}

                    {% if isRegistered %}
                        <a href="{{ path('outing_withdrawal', {'id': outing.id}) }}" title="desistement">Se désister</a>
                    {% endif %}

                    {% if (outing.organizer == app.user) and (outing.status.label =='Open' or outing.status.label == 'Closed')%}
                        <a href="" title="modification">Modifier</a>
                        <a href="" title="annulation">Annuler la sortie</a>
                    {% endif %}

                    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
                        <a href="" title="publication">Publier</a>
                        <a href="" title="suppression">Supprimer le projet</a>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}