{% extends 'base.html.twig' %}

{% block title %}
    {{ outing.name }} | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ outing.name }}</h1>
    <p>{{ outing.status.label }}</p>
    <p>RDV le {{ outing.startDate | date('d/m/y') }}</p>
    <p>Limite d'inscription : {{ outing.deadline | date('d/m/y') }}</p>
    <p>Organisée par {{ outing.organizer.username }}</p>
    <p> {{ outing.participants|length }} / {{ outing.maxRegistered }}</p>
    <p>
        Participants :
    </p>
    {% set isRegistered = false %}
    <ul>
        {% for participant in outing.participants %}
            {% set isRegistered = isRegistered or (participant == app.user) %}
            <li>
                {{ participant.username }}
            </li>
        {% endfor %}
    </ul>

    {% if outing.organizer != app.user and  not isRegistered %}
        <p><a href="" title="inscription">S'inscrire</a></p>
    {% endif %}

    {% if isRegistered %}
        <p>Vous êtes inscrits à la sortie ! </p>
        <p><a href="" title="desistement">Se désister</a></p>
    {% endif %}

    {% if outing.organizer == app.user %}
        <p><a href="" title="modification">Modifier</a></p>
    {% endif %}

    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
        <p><a href="" title="publication">Publier</a></p>
    {% endif %}

    <p>
        <a href="{{ path('home_list') }}" title="Accueil">Retour à l'accueil</a>
    </p>

{% endblock %}