{% extends 'base.html.twig' %}

{% block title %}
    {{ outing.name }} | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ outing.name }}</h1>
    <p>Statut : {{ outing.status.label }}</p>
    <p>RDV le {{ outing.startDate | date('d/m/y') }} à {{ outing.startDate | date('H:i') }}</p>
    <p>Durée : {{ outing.duration }}minutes</p>
    <p>Date limite d'inscription : {{ outing.deadline | date('d/m/y') }}</p>
    <p>Description et infos : {{ outing.description | nl2br}}</p>
    <p>Organisée par {{ outing.organizer.username }}</p>
    <p>Nombre de places : {{ outing.participants|length }} / {{ outing.maxRegistered }}</p>
    <p>Campus : {{ outing.campus.name }}</p>
    <p>Lieu : {{ outing.location.name }}</p>
    <p>{{ outing.location.street }}</p>
    <p>{{ outing.location.city.postcode }} {{ outing.location.city.name }}</p>
    <p>Latitude : {{ outing.location.latitude }}</p>
    <p>Longitude : {{ outing.location.longitude }}</p>

    {% set isRegistered = false %}
    <table class="table-sm table-bordered mb-3">
        <p>Liste des participants : </p>
        <thead>
        <tr class="table-top">
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in outing.participants %}
            {% set isRegistered = isRegistered or (participant == app.user) %}

            <tr class="table-rows">
                <td>{{ participant.username }}</td>
                <td>{{ participant.firstname }} {{ participant.lastname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#{% if outing.organizer != app.user and  not isRegistered %}#}
    {% if app.user != isRegistered and outing.status.label == 'Open'%}
        <p><a href="{{ path('outing_inscription', {'id': outing.id}) }}" title="inscription">S'inscrire</a></p>
    {% endif %}

    {% if isRegistered %}
        <p>Vous êtes inscrits à la sortie ! </p>
        <p><a href="{{ path('outing_withdrawal', {'id': outing.id}) }}" title="desistement">Se désister</a></p>
    {% endif %}

    {% if (outing.organizer == app.user) and (outing.status.label == 'Open' or outing.status.label == 'Closed') %}
        <p><a href="" title="modification">Modifier</a></p>
        <p><a href="{{ path('outing_cancellation', {'id':outing.id}) }}" title="annulation">Annuler la sortie</a></p>
    {% endif %}

    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
        <p><a href="{{ path('outing_publication', {'id':outing.id}) }}" title="publication">Publier</a></p>
        <p><a href="{{ path('delete_outing', {'id':outing.id}) }}" title="suppresion">Supprimer le projet</a></p>
    {% endif %}

    <p>
        <a href="{{ path('home_list') }}" title="Accueil">Retour à l'accueil</a>
    </p>

{% endblock %}