{% extends 'base.html.twig' %}

{% block title %}
    {{ outing.name }} | {{ parent() }}
{% endblock %}
{% block body %}
    <h1 class="centerTitle">{{ outing.name }}</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-2 titleCol">Statut :</div>
                        <div class="col-3 infoCol">{{ outing.status.label }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Campus :</div>
                        <div class="col-3 infoCol">{{ outing.campus.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">RDV le </div>
                        <div class="col-3 infoCol">{{ outing.startDate | date('d/m/y') }} à {{ outing.startDate | date('H:i') }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Lieu :</div>
                        <div class="col-3 infoCol">{{ outing.location.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">Durée :</div>
                        <div class="col-3 infoCol">{{ outing.duration }} minutes</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Rue :</div>
                        <div class="col-3 infoCol">{{ outing.location.street }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">Date limite d'inscription :</div>
                        <div class="col-3 infoCol">{{ outing.deadline | date('d/m/y') }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Code postal :</div>
                        <div class="col-3 infoCol">{{ outing.location.city.postcode }} {{ outing.location.city.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">Nombre de places :</div>
                        <div class="col-3 infoCol">{{ outing.participants|length }} / {{ outing.maxRegistered }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Latitude :</div>
                        <div class="col-3 infoCol">{{ outing.location.latitude }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">Organisée par </div>
                        <div class="col-3 infoCol">{{ outing.organizer.username }}</div>
                        <div class="col-2"></div>
                        <div class="col-2 titleCol">Longitude :</div>
                        <div class="col-3 infoCol">{{ outing.location.longitude }}</div>
                    </div>
                    <div class="row">
                        <div class="col-2 titleCol">Description et infos :</div>
                        <div class="col infoCol">{{ outing.description | nl2br}}</div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% set isRegistered = false %}
    <br>
    <div style="text-align: center">
        <table class="table-sm table-bordered mb-3 center">
            <p>Liste des participants : </p>
            <thead>
            <tr class="table-top">
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in outing.participants %}
                {% set isRegistered = isRegistered or (participant == app.user) %}

                <tr class="table-rows">
                    <td>{{ participant.username }}</td>
                    <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div style="text-align: center">
    {#{% if outing.organizer != app.user and  not isRegistered %}#}
    {% if app.user != isRegistered and outing.status.label == 'Open'%}
        <a href="{{ path('outing_inscription', {'id': outing.id}) }}" title="inscription" class="btn btnCenter">S'inscrire</a>
    {% endif %}

    {% if isRegistered and (outing.status.label =='Open' or outing.status.label == 'Closed')%}
        <p>Vous êtes inscrits à la sortie ! </p>
        <a href="{{ path('outing_withdrawal', {'id': outing.id}) }}" title="desistement" class="btn btnCenterCancel">Se désister</a>
    {% endif %}

    {% if (outing.organizer == app.user) and (outing.status.label == 'Open' or outing.status.label == 'Closed') %}
        <a href="{{ path('outing_cancellation', {'id':outing.id}) }}" title="annulation" class="btnCenterCancel">Annuler la sortie</a>
    {% endif %}

    {% if outing.organizer == app.user and outing.status.label == 'Created' %}
        <a href="{{ path('outing_publication', {'id':outing.id}) }}" title="publication" class="btn btnCenter">Publier</a>
        <a href="{{ path('outing_update', {'id': outing.id}) }}" title="modification" class="btn btnCenter">Modifier</a>
        <a href="{{ path('delete_outing', {'id':outing.id}) }}" title="suppression" class="btn btnCenterCancel">Supprimer</a>
    {% endif %}

        <a href="{{ path('home_list') }}" title="Accueil" class="btn btnCenter">Retour à l'accueil</a>
    </div>

{% endblock %}