{% extends 'base.html.twig' %}

{% block title %}
    | {{ parent() }} {# c'est quoi le parent ici ? #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/style/admin.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="align-text-bottom">
        <h1>
            <img src="{{ asset('asset/images/admin_agent.png') }}" alt="icône admin"/>
            AJOUTER UN UTILISATEUR
            <img src="{{ asset('asset/images/admin_agent.png') }}" alt="icône admin"/>
        </h1>
    </div>

    <div>
        {{ form_start(adminAddUserForm) }}
        {{ form_widget(adminAddUserForm) }}
        <button>Créer utilisateur</button>
        {{ form_end(adminAddUserForm) }}
    </div>
{% endblock %}