{% extends 'base.html.twig' %}

{% block title %}
     | {{ parent() }} {# c'est quoi le parent ici ? #}
{% endblock %}

{% block body %}
    <h1>ADMINISTRATION</h1>

    <table class="table-sm table-bordered mb-3">
        <thead>
            <tr class="table-top">
                <th>Actions d'administration</th>
            </tr>
        </thead>
        <tr class="table-rows">
            <td><a href="{{ path('admin_addUser')}}" title="Admin_addUser">Ajouter un utilisateur</a></td>
        </tr>
        <tr class="table-rows">
            <td><a href="{{ path('manage_city') }}" title="adminCity">Gérer les villes</a></td>
        </tr>
        <tr class="table-rows">
            <td><a href="{{ path('manage_campus') }}" title="adminCampus">Gérer les campus</a></td>
        </tr>
        <tr class="table-rows">
            <td><a href="{{ path('manage_users') }}" title="adminCampus">Gérer les utilisateurs</a></td>
        </tr>
    </table>

{% endblock %}