{% extends 'base.html.twig' %}

{% block title %}
     | {{ parent() }} {# c'est quoi le parent ici ? #}
{% endblock %}

{% block body %}
    <h1>ADMINISTRATION</h1>

    <table class="table-sm table-bordered mb-3">
        <thead>
            <tr class="table-top">
                <th>Actions d'administration</th>
            </tr>
        </thead>
        <tr class="table-rows">
            <td><a href="{{ path('admin_addUser')}}" title="Admin_addUser">Ajouter un utilisateur</a></td>
        </tr>
        <tr class="table-rows">
            <td><a href="{{ path('manage_city') }}" title="adminCity">Gérer les villes</a></td>
        </tr>
        <tr class="table-rows">
            <td><a href="{{ path('manage_campus') }}" title="adminCampus">Gérer les campus</a></td>
        </tr>
    </table>

    <table class="table-sm table-bordered mb-3">
        <thead>
        <tr class="table-top">
            <th>Pseudo</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Campus</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr class="table-rows">
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.campus.name }}</td>
                <td>{% if user.isActive %}X{% endif %}</td>
                <td>
                    {% if (user.isActive) %}
                        <a href="" title="Rendre inactif">Rendre inactif</a>
                    {% else %}
                        <a href="" title="Rendre actif">Rendre actif</a>
                    {% endif %}
                    -
                    <a href="" title="Supression d'une ville">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}