{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/style/admin.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="my-5 align-text-bottom">
        <h1>
            <img src="{{ asset('asset/images/admin_agent.png') }}" alt="icône admin"/>
            IMPORTER DES UTILISATEURS
            <img src="{{ asset('asset/images/admin_agent.png') }}" alt="icône admin"/>
        </h1>
    </div>

    {{ form_start(uploadingForm) }}
    {{ form_widget(uploadingForm) }}
    <input type="submit" value="Charger le fichier" name="upload">
    {{ form_end(uploadingForm) }}

{% endblock %}

{% block title %}
    Ajouter des utilisateurs | {{ parent() }}
{% endblock %}

